<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cy.mapper.LogMapper">
    <!-- 分页查询 -->
    <select id="findAllLogPage" resultType="com.cy.entity.Log">
        select * from sys_logs
        <include refid="queryWhereId"/>
        order by createdTime desc
        limit #{startIndex},#{pageSize}
    </select>

    <!-- 查询总数 -->
    <select id="findAllLogCount" resultType="Integer">
        select count(*) from sys_logs
        <include refid="queryWhereId"/>
    </select>

    <!-- 借助此元素对共性数据进行提取 -->
    <sql id="queryWhereId">
        <where>
            <if test="username!=null and username!=''">
                username like concat("%",#{username},"%")
            </if>
        </where>
    </sql>

    <!-- 根据ids删除数据 -->
    <delete id="deleteByIds">
        delete from sys_logs
        <where>
            id in
            <foreach collection="list" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </where>
    </delete>



</mapper>